@model  ViewModels.HomeViewModel

@{
    ViewBag.Title = "about kgt oil";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
} 

<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(img/breadcrumb/breadcrumb-bg.jpg);">
    <div class="container text-center">
        <h1>About Us</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="left pull-left">
            <a href="#">درباره ما</a>
        </div>
        <div class="right pull-right">
            <ul>
                <li><a href="/">صفحه اصلی</a></li>
                <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
                <li>درباره ما</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start welcome Industry area-->
<section class="welcome-industry-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video-gallery-bg">
                    <div class="video-gallery">
                        <img src="/img/office-1.jpg" alt="Awesome Video Gallery">
                   
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <div class="sec-title">
                        <p>TopCaster</p>
                        <h1>درباره ما</h1>
                    </div>
                    <h3 class="text-right font-IRANSans">
                       چشم انداز ما در 


                        <span>TopCaster</span>
                    </h3>
                    <p class="text-justify">این شرکت افتخار دارد به عنوان نماینده مطرح ترین شرکت های اروپایی و بین المللی ، حساس ترین قطعات صنایع نفت ، گاز و پتروشیمی ، صنایع خودرویی ، صنایع دارویی،صنایع غذایی ، صنایع هوایی ، صنایع کشتیرانی و ....را با بالاترین کیفیت و دقت و با قیمتی رقابتی تأمین و تحویل مشتریان گرانقدر نماید.
                    </p>
                    <p class="text-justify">
                        این شرکت افتخار دارد به عنوان نماینده مطرح ترین شرکت های اروپایی و بین المللی ، حساس ترین قطعات صنایع نفت ، گاز و پتروشیمی ، صنایع خودرویی ، صنایع دارویی،صنایع غذایی ، صنایع هوایی ، صنایع کشتیرانی و ....را با بالاترین کیفیت و دقت و با قیمتی رقابتی تأمین و تحویل مشتریان گرانقدر نماید.
                    </p>
                    <p class="text-justify">
                        این شرکت افتخار دارد به عنوان نماینده مطرح ترین شرکت های اروپایی و بین المللی ، حساس ترین قطعات صنایع نفت ، گاز و پتروشیمی ، صنایع خودرویی ، صنایع دارویی،صنایع غذایی ، صنایع هوایی ، صنایع کشتیرانی و ....را با بالاترین کیفیت و دقت و با قیمتی رقابتی تأمین و تحویل مشتریان گرانقدر نماید.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End welcome Industry area-->
 <section class="special-service-area">
    <div class="container-fluid">
        <div class="row">
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item pd-bottom text-center">
                    <span class="flaticon-medal"></span>
                    <h3>فواید همکاری با ما</h3>
                    <span class="border"></span>
                    <a href="#">اطلاعات بیشتر<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item pd-bottom text-center">
                    <span class="flaticon-avatar"></span>
                    <h3>درباره ما</h3>
                    <span class="border"></span>
                    <a href="#">اطلاعات بیشتر<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item pd-bottom-2 text-center">
                    <span class="flaticon-justice"></span>
                    <h3>تاریخچه ما</h3>
                    <span class="border"></span>
                    <a href="#">اطلاعات بیشتر<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <span class="flaticon-people"></span>
                    <h3>فرایند</h3>
                    <span class="border"></span>
                    <a href="#">اطلاعات بیشتر<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>

<!--Start caption area-->
<section class="caption-area text-center" style="background-image:url(/img/caption-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="dir-rtl">نیازهای بازرگانی و تجهیزات مورد نیاز صنایع خودرویی، دارویی، پتروشیمی، نیروگاهی و فولادی و ... در اسرع وقت قابل استعلام و تامین می باشد.</h1>
                @*<a class="thm-btn yellow-bg" href="#">Our Solutions</a>*@
            </div>
        </div>
    </div>
</section>   