@model ViewModels._BaseViewModel
<footer class="footer-area">
    <div class="container">
        <div class="row">
					

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="single-footer-widget">
							<div class="title">
								<h3>با ما در تماس باشید</h3>
							</div>
							<ul class="contact-address">
								<li>
									<div class="icon-holder">
										<span class="flaticon-earth-grid"></span>
									</div>
									<div class="content-holder">
										<p><span>آدرس:</span> کیلومتر 18 جاده مخصوص کرج<br>خیابان گلزار، پلاک 9</p>
									</div>
								</li>
								<li>
									<div class="icon-holder">
										<span class="flaticon-email-envelope-back-symbol-on-phone-screen"></span>
									</div>
									<div class="content-holder">
										<p><span>اطلاعات تماس:</span> +(98) 21 88880000 info@topcasterone.com</p>
									</div>
								</li>
								<li>
									<div class="icon-holder">
										<span class="flaticon-technology-1"></span>
									</div>
									<div class="content-holder">
										<p><span>فکس:</span> +(98) 21 88880000</p>
									</div>
								</li>
								<li>
									<div class="icon-holder">
										<span class="flaticon-clock"></span>
									</div>
									<div class="content-holder">
										<p><span>شنبه تا جهارشنبه:</span> 8 تا 18</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
	    
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom">
                    <div class="title">
                        <h3>دسترسی سریع</h3>
                    </div>
                    <ul class="quick-links left">
                        <li><a href="/about">درباره ما</a></li>
                        <li><a href="/">خانه</a></li>
                        <li><a href="/contact">تماس با ما</a></li>
                        <li><a href="/account/login">ورود</a></li>
                        <li><a href="/page/5bfbc921-7928-488a-a406-08937aec229d">محصولات</a></li>
                    </ul>
                    <ul class="quick-links">
                        <li><a href="/page/715645be-b997-426d-8d6a-507438149a58">خدمات</a></li>
                        <li><a href="/page/79706089-4696-427f-8ca3-ac29c0972ffa">آشنایی با تیم</a></li>
                        <li><a href="/page/f0cb5045-39ab-4600-acb0-ac6d205fb456">تاریخچه</a></li>
                        <li><a href="/page/7b5be004-d917-40af-9623-bc779ffc7bfe">رزومه</a></li>
                        <li><a href="/page/0c1cdf11-db4b-4610-8220-3bfe0d45636a">قوانین و مقررات</a></li>
                        
                    </ul>
                </div>
            </div>
    
					
	        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		        <div class="single-footer-widget pd-bottom">
			        <div class="footer-logo">
				        <a href="/">
					        <img src="/img/logo.jpg" alt="KGT oil">
				        </a>
			        </div>
			        <div class="industry-info">
				        <p>این شرکت افتخار دارد به عنوان نماینده مطرح ترین شرکت های اروپایی و بین المللی ، حساس ترین قطعات صنایع نفت ، گاز و پتروشیمی ، صنایع خودرویی ، صنایع دارویی،صنایع غذایی ، صنایع هوایی ، صنایع کشتیرانی و ....را با بالاترین کیفیت و دقت و با قیمتی رقابتی تأمین و تحویل مشتریان گرانقدر نماید.

				        </p>
                       
			        </div>
			        <ul class="footer-social-links">
				        <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
				        <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
				        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				        <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
			        </ul>
		        </div>
	        </div>

        </div>
    </div>
</footer>
<!--End footer area-->
<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			    <div class="copyright-text">
				    <p>طراحی و توسعه وب سایت توسط <a href="#">زاوش</a>
				    </p>
			    </div>
		    </div>

	    </div>
    </div>
</section>
<!--End footer bottom area-->